# ==========================================================
#   TASRIM-ORUNTULERİ-ODEVI
# ==========================================================
#docs/  
docs/kisisel_notlar.md

# Eclipse dosyaları
bin/
*.class
.classpath
.project
.settings/
